.row
  .col-sm-4
    %h2 Define players names
    -if @game.errors.present?
      .alert.alert-danger
        %ul
          - @game.errors.full_messages.each do |message|
            %li= message
    .well
      = simple_form_for @game do |f|
        = f.input :players_count, as: :select, collection: (Game::MIN_PLAYERS..Game::MAX_PLAYERS).to_a, default: 1
        - Game::MAX_PLAYERS.times do |number|
          - visibility_class = number.zero? ? "player_visible" : "player_hidden"
          - wrapper_class = visibility_class + " player_wrapper_#{number+1}" 
          = f.input :players_names, as: :string, multiple: true, label: "Player #{number+1}", input_html: { name: 'game[players_names][]', id: "player#{number+1}"}, wrapper_html: { class: wrapper_class }
        = f.submit "Start game"
    = link_to "Back to games", games_path
#settings.player_hiddden{data: { max_players: Game::MAX_PLAYERS }}

